#projects {
	padding: 32px;
	margin: auto;
	margin-top: 32px;
	display: grid;
	grid-template-columns: 1fr;
	width: 300px;
}
#projects h1 {
	/*grid-column: 1/-1;*/
	text-align: center;
	font-size: 24px;
	color: var(--highlight);
	margin-bottom: 8px;
}
#projects a {
	text-decoration: none;
	width: 382px;
	height: 382px;
	display: block;
	cursor: pointer;
}
#projects article {
	position: relative;
	border-radius: 0px;
	margin: 0px auto;
	margin-bottom: 32px;
	width: 384px;
	background: var(--card-bg);
	box-shadow: var(--card-shadow);
	border: 1px solid var(--card-border);
	transition: transform .4s ease-in-out;
}
#projects .rotate3d {
	transform: perspective(400px) rotateY(180deg);
}
#projects .hidden {
	display: none;
}
#projects iframe {
	transform: rotateY(180deg);
}
#projects article:hover {
	filter: brightness(120%);
	/*rotate: -2deg;*/
	box-shadow: var(--card-selected-shadow);
	border: 1px solid var(--card-selected-border);
}
#projects article:hover label {
	opacity: 1;
}
#projects img {
	width: 100%;
	
	/*margin-bottom: 8px;*/
	border-radius: 0px;
}
#projects p {
	padding: 0px 8px;
	margin-bottom: 8px;
}
#projects label {
	color: var(--blink);
	padding-top: 8px;
	text-decoration: none;
	text-align: right;
	width: 94%;
	display: block;
	position: absolute;
	bottom: 8px;
	right: 8px;
	opacity: 0;
	transition: opacity .15s linear;
	font-size: 14px;
}

/* --------- TAGS --------- */
#projects tag-block {
	color: #86b5ff;
	background: #12253e;
	padding: 1px 6px;
	margin: 2px;
	display: inline-block;
	border-radius: 4px;
	opacity: 0.8;
	font-size: 14px;
}
#projects tag-block:hover {
	opacity: 1;
}
/* GREEN - Album / EP / Single */
#projects .m_format 			{ filter: hue-rotate(254deg); }
#projects .m_format:hover 		{ filter: hue-rotate(254deg), brightness(120%); }
/* PURPLE - Genre */
#projects .m_genre 				{ filter: hue-rotate(68deg); }
#projects .m_genre:hover 		{ filter: hue-rotate(68deg), brightness(120%); }
/* RED - Group project / collaboration */
#projects .m_collab 			{ filter: hue-rotate(125deg); }
#projects .m_collab:hover 		{ filter: hue-rotate(125deg), brightness(120%); }
/* BLUE - Other tags */
#projects .m_tag:hover 			{ filter: brightness(120%); }

/* GREEN - playable or online */
#projects .p_playable 			{ filter: hue-rotate(254deg); }
#projects .p_playable:hover 	{ filter: hue-rotate(254deg), brightness(120%); }
/* PURPLE - description tags */
#projects .p_description 		{ filter: hue-rotate(68deg); }
#projects .p_description:hover 	{ filter: hue-rotate(68deg), brightness(120%); }
/* BLUE - technology tags */
#projects .p_technology:hover 	{ filter: brightness(120%); }


/* smartphone */
@media (min-width: 768px) {
}
/* tablette */
@media (min-width: 992px) {
}
/* ordinateur */
@media (min-width: 1400px) {
}

/*
Responsive spécifique pour le nombre de colonnes,
450px par carte :
*/
@media (min-width: 900px) { 
	#projects { grid-template-columns: 1fr 1fr; width: 900px; }
}
@media (min-width: 1350px) {
	#projects { grid-template-columns: 1fr 1fr 1fr; width: 1350px; }
}
@media (min-width: 1800px) {
	#projects { grid-template-columns: 1fr 1fr 1fr 1fr; width: 1800px; }
}


/*
@keyframes shake {
	0% { transform: translate(1px, 1px); }
	10% { transform: translate(-1px, -2px); }
	20% { transform: translate(-3px, 0px); }
	30% { transform: translate(3px, 2px); }
	40% { transform: translate(1px, -1px); }
	50% { transform: translate(-1px, 2px); }
	60% { transform: translate(-3px, 1px); }
	70% { transform: translate(3px, 1px); }
	80% { transform: translate(-1px, -1px); }
	90% { transform: translate(1px, 2px); }
	100% { transform: translate(1px, 1px); }
}
animation: shake 12s;
animation-iteration-count: infinite;
animation-timing-function: linear;
*/

